.commentCard {
  display: grid;
  grid-template-columns: 0.5fr 5.5fr;
  grid-template-areas: 'vote main';
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-top: 6px solid var(--grey);
}

.aInfo {
  color: var(--green);
}
.aInfo:visited {
  font-weight: 400;
}

.vote {
  grid-area: vote;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.body {
  grid-area: main;
}

.info {
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .body {
    margin-top: 5px;
  }
}
