.sorter {
  margin-bottom: 20px;
}
.button:hover {
  background: var(--halfPink);
  color: var(--black);
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .sorter {
    display: flex;
    flex-direction: column;
  }
}
