.title {
  display: flex;
  margin: auto;
  padding: 30px 0 0 30px;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .title {
    align-items: center;
    justify-content: center;
  }
}
