.votes {
  align-items: center;
  vertical-align: middle;
  padding-top: 40px;
  padding-right: 10px;
}

.p {
  margin: 0px 0px 3px 0px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}

.voteButton {
  width: 30px;
  border: none;
}

.voteButton:hover {
  background-color: var(--halfGreen);
}
